[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iheiddown"]
	path = iheiddown
	url = https://github.com/iheid-library/iheiddown
